[Desktop Entry]
Type=Application
Name=System Update
Comment=Update Vex-HTPC, Flatpaks, Distrobox containers, and more
Icon=/usr/share/vex/update.png
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update